HW1/__pycache__/Algorithms.cpython-312.pyc
HW1/__pycache__/DragonBallEnv.cpython-312.pyc
.vscode
.gitignore
HW1/~$1_hebrew.docx
HW1/my_results.csv
HW1/result2.csv
HW1/results_without_expanded.csv
HW1/results.csv
HW1/resultswitghost.csv
HW1/rosman_nimrod_maps.py
HW1/readme.txt
HW1/weightsBenchmarking.ipynb
HW1/תיקונים לתרגיל בית 1.docx
HW1/__pycache__/AlgorithmsNabeeh.cpython-312.pyc
HW1/__pycache__/rosman_nimrod_maps.cpython-312.pyc
HW1/AlgorithmsNabeeh.py
HW1/AlgorithmsNawaf.py
HW2/AI_EX2/__pycache__
